<!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Compare Dates With Twig &middot; Quentin Pleplé
    
  </title>

  
  <link rel="canonical" href="http://qpleple.com/compare-dates-with-twig/">
  

  <link rel="stylesheet" href="http://qpleple.com/css/poole.css">
  <link rel="stylesheet" href="http://qpleple.com/css/syntax.css">
  <link rel="stylesheet" href="http://qpleple.com/css/lanyon.css">
  <link rel="stylesheet" href="http://qpleple.com/css/style.css">

  
    
  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌱</text></svg>">

  
</head>


  <body>

    

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">🌱 Quentin Pleplé</a>
          </h3>
        </div>
      </div>

      <div class="container content">
        <div class="post">
  <h1 class="post-title">Compare Dates With Twig</h1>
  <span class="post-date">27 Sep 2011</span>

  

  <p>Here is a trick to compare two dates in Twig. Convert them as string with the <code class="language-plaintext highlighter-rouge">date</code> filter, with first the year, then the month and finally the day:</p>

<div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>myDate|date<span class="o">(</span><span class="s1">'Y-m-d'</span><span class="o">)</span>
</code></pre></div></div>

<p>Then, you can compare strings because the chronological order is the
same than the lexicographical order:</p>

<pre><code class="language-html+jinja">{% if date1|date('Y-m-d') &gt; date2|date('Y-m-d') %}
    ...
{% endif %}
</code></pre>

<p><strong>Tip.</strong> If you want to get the current date, you can give the string
<code class="language-plaintext highlighter-rouge">now</code> to the <code class="language-plaintext highlighter-rouge">date</code> filter:</p>

<pre><code class="language-html+jinja">{% if "now"|date('Y-m-d') &gt; date2|date('Y-m-d') %}
    ...
{% endif %}
</code></pre>


</div>
      </div>
    </div>

    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->

    <script src='/js/script.js'></script>
  </body>
</html>
